
/* media queries */
/* écran à partir de 2560px (4k) */
@media screen and (min-width: 2560px)  {
    .btnform{
        width: 205px;
        height: 80px;
    }


    .form-container{
        top: 100px;
        left: 500px;

     
     
    
    }

    form .sign-in-form{
        width: 200px;
    }
    
    .titreformulaire{
      font-size: 100px;
      color: black;
      font-weight: bold;
    }

    .containerloginform::before{
        content: '';
        position: absolute;
        width: 4000px;
        height: 4000px;
        border-radius: 50%;
        background: linear-gradient(-45deg, crimson, crimson);
        top: 400px;
      
    
    }


    .lottiehome{
        margin-left: 2250px;
        margin-top: 1300px;
    }
    .containerbeforus{
        overflow: hidden;
    }

    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: 1100px;
        top: 900px;
        overflow: hidden;
    }
    .TextFlottant{
        top: 1300px;
        left: 1300px;
        position: absolute;
        z-index: 100;
        width: 1000px;
        height: 300px;
        font-family:'Segoe UI';
    }
    
    .TextFlottant h1{
        font-size: 50px;
    }

    .motflottantsolo{
        top: 200px;
        left: 550px;
    }
    .motflottantsolo h1{
        font-size: 100px;
    }
}
/* écran entre 1440px et 2559px */
@media screen and (min-width: 1440px)  and (max-width: 2559px) {

   

    .form-container{
        top: 35px;
        left: 200px;

     
     
    
    }

    form .sign-in-form{
        width: 200px;
    }
    
    .titreformulaire{
      font-size: 100px;
      color: black;
      font-weight: bold;
    }

    .containerloginform::before{
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        border-radius: 50%;
        background: linear-gradient(-45deg, crimson, crimson);
        top: 150px;
      
    
    }
    .lottiehome{
        margin-left: 1137px;
        margin-top: 214px;
    }
    .containerbeforus{
        overflow: hidden;
    }

    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: 200px;
        top: 200px;
        overflow: hidden;
    }
    .TextFlottant{
        top: 420px;
        left: 570px;
        position: absolute;
        z-index: 100;
        width: 650px;
        height: 300px;
    }
    
    .TextFlottant h1{
        font-size: 30px;
    }

    .motflottantsolo{
        top: 10px;
        left: 100px;
    }

}
/* écran entre 1300px et 1439px */
@media screen and (min-width: 1300px)  and (max-width: 1439px) {


    .lottiehome{
        margin-left: 1058px;
        margin-top: 363px;
    }
    .containerbeforus{
        overflow: hidden;
    }

    .TextFlottant{
        top: 450px;
        left: 791px;
        position: absolute;

    }
    



}

/* écran entre 1024px et 1439px */
@media screen and (min-width: 1024px)  and (max-width: 1299px) {

    .cards {
        margin: 4rem 12vw;
      }

    .form-container{
        top: 20px;
        left: 135px;

    }
    .lottiehome{
        margin-left: 771px;
        margin-top: 363px;
    }
    .containerbeforus{
        overflow: hidden;
    }

    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: 200px;
        top: 100px;
        overflow: hidden;
    }
    .TextFlottant{
        top: 450px;
        left: 490px;
        position: absolute;
        z-index: 100;
        width: 400px;
        height: 300px;
    }
    
    .TextFlottant h1{
        font-size: 25px;
    }

    .motflottantsolo{
        top: 10px;
        left: 100px;
    }

}
/* écran entre 768px et 1299 */
@media screen and (min-width: 768px)  and (max-width: 1023px) {

    .cards {
        margin: 4rem 14vw;
      
    }
    .form-container{
        top: -11px;
        left: 135px;
        overflow-y: scroll;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 121px;
        padding-top: 200px;
    }

    .input-field{
        height: 40px;
    }

    .input-field input {
        margin-left: 20px;
        height: 40px;
    }
    .input-field i{
        line-height: 10px;
    }
    .selectuded{
        height: 40px;
    }

    .form-label {
        
        width: 300px;
    }
.motflottantsolo{
    top: 10px;
    left: 100px;
}
.TextFlottant{
    top: 280px;
    left: 352px;
    position: absolute;
    z-index: 100;
    width: 200px;
    height: 300px;
}

.TextFlottant h1{
    font-size: 17px;
}
.containere{
    position: relative;
    overflow: hidden;
    left: 0;

}
.containereform{
    position: relative;
    
    left: 0;
}
.containered{
    position: relative;
    left: 0;
    }
    .containered2{
        position: relative;
        left: 0;
    }
    .containeregris{
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
         height: 100%;
        width: 100%; 
        z-index: 12;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
    }


    
    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: 10px;
        top: 20px;
        
    }
    .lottiehome{
        margin-left: 508px;
        margin-top: 159px;
    }
    

    body{
        overflow-y: hidden;
    }



body{
    min-width: 300px;
    overflow-y: visible;
    overflow-x: hidden;
}



}

/* écran entre 425px et 767px */
@media screen and (min-width: 425px)  and (max-width: 767px){

    .container{
        margin-left: 110px!important;
        width: 300px!important;
        margin-top: -50px!important;
    }

    .sign-in-form a{
        margin-left: 85px;
    }

    .sign-in-form a p{
        font-size: 12px;
    }

    .titrecalend h1{
        font-size: 25px;
    }

    .cards {
        margin: 4rem 25vw;
      
    }

    .butonneded{

        margin-bottom: 20px;
        margin-left: 45px;
        
    }

    .form-container{
        top: -10px;
        left: 50px;
        overflow-y: scroll;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 121px;
        padding-top: 200px;
    }

    .input-field{
        height: 40px;
    }

    .input-field input {
        margin-left: 20px;
        height: 40px;
    }
    .input-field i{
        line-height: 10px;
    }
    .selectuded{
        height: 40px;
    }

    .form-label {
        
        width: 300px;
    }
    .titreformulaire{
        font-size: 20px;
    }

    .input-field input {
        margin-left: 20px;
    }

    .containeregris{
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
         height: 100%;
        width: 100%; 
        z-index: 12;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
    }

   

    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: 10px;
        top: 10px;
        
    }

    .lottiehome{
        margin-left: 179px;
        margin-top: 152px;
    }

    .TextFlottant{
        top: 485px;
        left: 213px;
        position: absolute;
        z-index: 100;
        width: 200px;
        height: 300px;
    }

    
    
    .TextFlottant h1{
        font-size: 10px;
    }
    .motflottantsolo {
        top: 7px;
        left: 128px;
        font-size: 15px;
    

}

}
 /* écran entre 375px et 424px */
@media screen and (min-width: 375px)  and (max-width: 424px){

    .signin-signup{
        left: 55%;
        top: 45%;
    }

    .sign-in-form a{
        margin-left: 85px;
    }

    .sign-in-form2 a{
       width: 151px;
    }


    .sign-in-form a p{
        font-size: 12px;
    }

    .titrecalend h1{
        font-size: 20px;
    }


    .cards {
        margin: 4rem 25vw;
      
    }

    .card{
        width: 275px;

    }

    .cardass{
        width: 270px;
        margin-left: 80px;
    }
    
    .cardus_link{
        width: 300px;
    }


    .butonneded{
        margin-bottom: 20px;
        margin-left: 45px;
    }

    .btn{
        width: 265px;
    }

    .form-container{
        top: -16px;
        left: 0px;
        overflow-y: scroll;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 121px;
        padding-top: 200px;
    }

    .input-field{
        height: 40px;
    }

    .input-field input {
        margin-left: 20px;
        height: 40px;
    }
    .input-field i{
        line-height: 10px;
    }
    .selectuded{
        height: 40px;
    }

      #upload{
        font-size: 8px;
        margin-left: 119px;
    }

    .form-label {
        font-size: 12px;
        width: 300px;
        color: black;
        margin-left: 136px;
    }

    form{
        width: 200px;
    }

    .titreformulaire{
        font-size: 20px;
    }

    .input-field input {
        margin-left: 20px;
    }

    .containeregris{
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
         height: 100%;
        width: 100%; 
        z-index: 12;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
    }



    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: -60px;
        top: 0;
        
    }

    .lottiehome{
        margin-left: 140px;
        margin-top: 10px;
    }

    .TextFlottant{
        top: 332px;
        left: 200px;
        position: absolute;
        z-index: 100;
        width: 171px;
        height: 246px;
    }

    
    
    .TextFlottant h1{
        font-size: 10px;
    }
    .motflottantsolo {
        top: 150px;
        left: 110px;
        width: 200px;
    

}

.motflottantsolo h1 {
    font-size: 25px;
}

}

@media screen and (min-width: 320px)  and (max-width: 374px){

    .sign-in-form a{
        margin-left: 119px;
    }

    .sign-in-form a p{
        font-size: 10px;
    }

    .sign-in-form2 a{
        margin-left: 98px;
    }

    .sign-in-form2 a p{
        font-size: 8px;
    }

    .card__title {
        font-size: 10px ;

      }

      .card__status {
        font-size: 10px ;

      }
      
    .card__header{
        height: 25px;
    }
    .titrecalend h1{
        font-size: 15px;
    }



    .cardass{
        width: 200px;
        margin-left: 30px;
    }

    .cards {
        margin: 4rem 33vw;
      
    }

    .card{
        width: 200px;

    }
    
    .cardus_link{
        width: 200px;
    }

    .butonneded{
        margin-bottom: 20px;
        margin-left: 45px;
    }

    .btn{
        width: 200px;
    }


    .form-container{
        top: -16px;
        left: 15px;
        overflow-y: scroll;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 121px;
        padding-top: 200px;
    }

    .input-field{
        height: 40px;
    }

    .input-field input {
        margin-left: 20px;
        height: 40px;
    }
    .input-field i{
        line-height: 10px;
    }
    .selectuded{
        height: 40px;
    margin-left: 25px;
    font-size: 13px;
    }

    #upload{
        font-size: 8px;
        margin-left: 119px;
    }

    .form-label {
        font-size: 12px;
        width: 300px;
        color: black;
        margin-left: 136px;
    }

    form{
        width: 200px;
    }

    .signin-signup{
        left: 45%;
       
    }

    form{
        width: 200px;
    }

    .titreformulaire{
        font-size: 20px;
    }

    .input-field input {
        margin-left: 20px;
    }

    .containeregris{
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
         height: 100%;
        width: 100%; 
        z-index: 12;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
    }



    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: -180px;
        
        
    }

    .lottiehome{
        margin-left: 70px;
        margin-top: 10px;
    }

    .TextFlottant{
        top: 332px;
        left: 122px;
        position: absolute;
        z-index: 100;
        width: 171px;
        height: 246px;
    }

    
    
    .TextFlottant h1{
        font-size: 10px;
    }
    .motflottantsolo {
        top: 150px;
        left: 110px;
        width: 200px;
    

}

.motflottantsolo h1 {
    font-size: 25px;
}



}

/* écran à partir de 2560px (4k) */
@media screen and (min-width: 2560px) {
    span{
        font-size: 30px;
    }

   

     .angle{
         margin-top: 0!important;
     }

     .fas{
 
        font-size: 40px;

    
    }
    
     
    .tailleliste span{
        font-size: 30px; 
     }
     .list_name {
         margin-top: -5px;
         font-size: 20px;
     }
     .coco{
         font-size: 20px;
     }

     nav:hover{
         width: 450px;
     }

     nav ul li a {
        width: 400px;
     }

     nav ul li {
         height: 250px;
     }

 
}

