@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:ital,wght@1,300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

  
}


body{
    color: white;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Login and signup form */

body, input{
    font-family: 'Poppins' , sans-serif;
}

.containereform{
  
    display: flex;
    position: fixed;
    left: 280px;
    top: 0;
     height: 93%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background-color: black;
  
}



.containerloginform{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;

}

.containerloginform::before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, crimson, crimson);

}

.form-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;


}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column:  1 / 2;
    grid-row:  1 / 2 ;
    top: -10%;
    right: 48%;
 
}

form .sign-in-form{
    z-index: 2;
}

form .sign-up-form{
    z-index: 2;
}

.titreformulaire{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 55px;
    background-color: #f0f0f0;
    margin: 10px 0 ;
    border-radius: 55px;
    display: grid;   /* j'indique que le display sera celui d'une grille */
    grid-template-columns: 15% 85% ;
    padding: 0 .4rem ; /* le padding est la marge intérieur*/

}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    border-radius: 55px;
}

.input-field input ::placeholder {
    columns: #aaa;
    font-weight: 500;

}

.btnform{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 ;
    transition: 0.5s;
}

.btnform:hover{
    background-color: #416cb7;
}

.signin-signup{
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
}


.imageform{
    width: 100%;
}

/* Sidebar */
.solou{
    list-style: none;
    text-decoration: none;
 
}

#golden{
    background-color: crimson;
   
   
}

#blackus{
    color: black;
}

.binks{
    text-decoration: none;
    color: white;
}

.motflottantsolo h1{
    color: white;
    font-size: 35px;
    margin-top: 5px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 93%;
    width: 280px ;
    top: 0;
    left: 0;
    
  
    
}

.form-control{
    width: 50%;
}

.form-label{
color: red;
}

.btn{
    color: black;
    background-color: crimson;
}

.imagelogo{
    display: flex;
   text-align: center;
    margin: 0 auto;
   height: 120px;
   width: 180px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.sidebar ul{
text-align: center;
margin-top: 20px;

}

.sidebar ul li{ 
    
    height: 40px;
    width: 100%;
    list-style: none;
}

.sidebar ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: 0.4s all ease-in-out linear;
}

.sidebar ul li a:hover{
    background: crimson;
}

.footer_side ul {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
  
}

.footer_side ul li a:hover{
    background: black;
}

.footer_side{
    margin-top: auto;
}


.angle{
    color: crimson;

}

.titrou{
    padding-bottom: 0;
    color: white;
}

.iconus{
    color: crimson;
  font-size: 50px;
  position: absolute;
  margin-top: 20px;
}


/* footer */

#goldus{
    color: midnightblue;
}
.footeurs{
   
    padding: 20px 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 10;
    

}



 .social  {
    

    font-size: 20px;
    color: white;
    width: 40px;
    height: 40px;
    transition:  0.3s ease-in-out;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    text-align: center; 
}
 .social :hover{
    opacity: 0.9;
    color: crimson;
}

.footeurs ul{
   
    padding: 0;
    list-style: none;
    font-size: 12px;
    
}

.tailleliste{
display: flex;
flex-direction: row;
}

.coco {
    text-decoration: none;
    color: crimson;
}

#meme{
    color: crimson;
}

#momo{
    color: crimson;
}

.footeurs ul a{
    text-decoration: none;
    opacity: 0.8;
    
}

.footeurs ul li {
    display: inline-block;  
    padding: 0 15px;
}
.containerfooterbasdroite{
    display: flex;
    flex-direction: column;
    margin-left:  auto;
    margin-right: 30px;
}
.droite{
    display: flex;
    font-size: 10px;
    color: white;
 
    
}

.dessous{
   
        display: flex;
        font-size: 10px;
        text-align: right;
        justify-content: end;
        color: white;
    
}

.pupo{
position: relative;
z-index: 10;
}

.container{
    z-index: 10;
    margin-left: 0!important;
}

.messagus{
    text-align: center;
    color: white;
}
 /* progress bar */
#progress-bar{
 position: absolute;
 top: -8px;
    height: 8px;
    background:crimson;
    width: 50%;
    z-index: 100;
    animation: progress-animation 5s forwards infinite
}




@keyframes progress-animation{
    0%{width: 0%; }
    100% {width: 100% ;}
}

.motflottantsolo{
    top: 80px;
    left: 300px;
    position: absolute;
   
    font-size: 15px;
    z-index: 100;
}

/* carousel */

 .carousel_img{
    display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* Fading animation */

.containere{
  
    display: flex;
    position: fixed;
    left: 280px;
    top: 0;
     height: 93%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background-color: black;
  
}
.containered{
  
    display: flex;
    position: fixed;
    left: 280px;
    top: 0;
     height: 93%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background-color: black;
   overflow-y: scroll;
}

.containered2{
  
    display: flex;
    position: fixed;
    left: 280px;
    top: 0;
     height: 93%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background:  no-repeat center url(./assets/4765949.jpg);
   overflow-y: scroll;
}

.containered ul li {
    color: white;
}

.titrecalend h1{
    color: white;
}

.listemenud{
    display: flex;
    padding-left: 0;
}
.listemenud li{
    padding: 10px;
    list-style: none;
    color: #a09173!important;
    
}

.listemenud li a{
    padding: 10px;
    list-style: none;
    color: #a09173!important;
    
}
.listemenud li a:hover{
   
    color: white!important;
    
}

.listemenud li:hover{
    background-color: crimson;
    color: white!important;
}



#datepicker{
    z-index: 55;
   
}
.container a{
    color: crimson;
}

.container a:hover{
    color: white;
}

.containere > div{
    position: absolute;
   


}

.slider{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.calendriercont{
    top: 100px;
    left: 100px;
    background-color: white;
    display: grid;
    place-items: center;
    position: relative;
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1),
                inset 10px 10px 10px rgba(0, 0, 0, 1),
                inset -10px -10px 10px rgba(255, 255, 255, 1);
     border-radius: 20px;


}

#upload{
    color: crimson;
    border: none;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
   
    

}

/* le bouton paris londre */
.wrappered{
    display: flex;
    position: fixed;
    top: 40px;
    right: 50px;
    z-index: 15;
  
}

#selectus{
    display: flex;
    text-align: start;
    background-color: black;
    color: crimson;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-left: 10px;
}

/* carte */
.cardmorph{
    height: 500px;
    width: 350px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border-top:  1 px solid rgb(125, 125, blue125);
    border-left:  1 px solid rgb(125, 125, blue125);

}



.cardmorph .cardmorph_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

 .colorcardtext {
color: black;
font-weight: 800;
}

.cardmorph .cardmorph_content .cardmorph_picture {

 width: 230px;
 height: 230px;
 margin: 0 auto;
 position: relative;
}

.cardmorph .cardmorph_content .cardmorph_picture2 {
    top: 55px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: absolute;
   }
   
   .cardmorph .cardmorph_content .cardmorph_picture3 {
    top: 30px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
   }
   
   

   



.cardmorph .cardmorph_content .cardmorph_picture img{
    border-radius: 200px;
    width: 100%;
    height: 100%;
   }

   .cardmorph .cardmorph_content .cardmorph_picture2 img{

    width: 100%;
    height: 100%;
   }

   .cardmorph .cardmorph_content .cardmorph_picture3 img{

    width: 100%;
    height: 100%;
   }

.containercard{
    
    position: fixed;
    bottom: 152px;
    left: 300px;
    height: 280px;
    width: 700px;
    background-color: black;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    color: white;
    z-index: 15;
}

.containercard h1{
    font-size: 40px;
    font-weight:900;
    padding-bottom: 10px;
    z-index: 15;
}

.containercard p{
    font-size: 15px;
    z-index: 15;
}

/* cartes */
.cardus{
    margin:  20px;
    /* ou 0 auto c'est selon */
    max-width: 1000px;
    display: grid;
    /* en dessous on indique les parametres de sa grille */
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
}

.cardus2{
    margin:  20px;
    /* ou 0 auto c'est selon */
    max-width: 1000px;
    display: grid;
    /* en dessous on indique les parametres de sa grille */
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 150px;
}

.cardass{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) ;
}

.cardus_image{
    width: 100%;
    display: block;
}

.cardus_content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: white;
}

.cardus_content > p:first-of-type{
    margin-top: 0;
}

.cardus_content > p:last-of-type{
    margin-bottom: 0; 
}

.card_info{
    padding:15px ;
    display: flex;
    justify-content: space-between;
    background: white;
    
    font-size: 0.8em;
    border-bottom: 5px solid crimson;
}

.card_info i{
    font-size: 0.9em;
    margin-right: 8px;
}

.cardus_link{
    color: crimson ;
    text-decoration: none;
}

.cardus_link:hover{
    text-decoration: underline;
    color: crimson;
}

.butonneded{
    margin: 0 auto;
    
}


/* media queries */

@media screen and (max-width: 768px) {
.motflottantsolo{
    top: 800px;
    left: 0;
}
.containere{
    position: relative;
    
    left: 0;

}
.containereform{
    position: relative;
    
    left: 0;
}
.containered{
    position: relative;
    left: 0;
    }
    .containered2{
        position: relative;
        left: 0;
    }
.wrappered{
    
    position: absolute;
    top: 750px;
}
.containercard{
    left: 10px;
    position: absolute;
    top: 1305px;
    width: 500px;
}
.socialus{
    display: block;
  
}
.footeurs{
    display: block;
   
    text-align: center;
}
body{
    min-width: 300px;
    overflow-y: visible;
    overflow-x: hidden;
}
.tailleliste{flex-direction: column;}
.sidebar{
    width: 100%;
}
.dessous{
    justify-content: center;
}
.droite{
    justify-content: center;
}
.containerfooterbasdroite{
    display: block;
    text-align: center;
}
.footer_side{
text-align: center;

}



}

@media screen and (max-width: 521px){
 
    .containercard{
        
        position: absolute;
        height: 220px;
        width: 300px;
        top: 1205px;
    }

    .containercard h1{
        font-size: 10px;
    }

    .containere{
        height: 700px!important;
    }

    .containereform{
        height: 700px!important;
    }
    .containered2{
        height: 700px!important;
    }
    
}



@media screen and (max-width: 768px){
        .sidebar ul li {
            height: 20px;
        }
        .sidebar ul li a{
        
         
            font-size: 12px;
            padding: 1px;
        }

        body{
            overflow-y: scroll;
        }
        .sidebar{
            height: 741px;
        }
        .containere{
            height: 900px;
        }

        .containereform{
            height: 900px;
        }
        
        .containered2{
            height: 900px;
        }
      
        
}

@media screen and (min-width: 768px){
    .sidebar ul li {
        height: 35px;
    }
    .sidebar ul li a{
        padding: 10px;
    }

    
}

@media screen and (min-width: 1440px){
    .sidebar ul li {
        height: 50 px;
    }
    .sidebar ul li a{
        padding: 10px;
    }

    
}


@media screen and (min-width: 2560px) {
    span{
        font-size: 20px;
    }
    .sidebar ul li a{
        
        
        font-size: 20px;
    }
     .containercard{
         bottom: 138px;
     }

     .angle{
         margin-top: 0!important;
     }

     .social{
         font-size: 40px;
     }
     #goldus{
        font-size: 30px;
     }
     #momo{
        font-size: 30px;
     }
     #meme{
        font-size: 30px;
     } 
    .tailleliste span{
        font-size: 30px; 
     }
     .list_name {
         margin-top: -5px;
         font-size: 20px;
     }
     .coco{
         font-size: 20px;
     }
}

