@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:ital,wght@1,300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    outline: none;
    border: none;
    text-decoration: none;


  
}


body{
    color: black;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;

}



.main{

    background-color: black;
}

/* Login and signup form */

body, input{
    font-family: 'Poppins' , sans-serif;
}

.containereform{
  
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
     height: 100%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background-color: black;
  
}



.containerloginform{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;

}

.containerloginform::before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, crimson, crimson);

}

.form-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    overflow-y: scroll;
 

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column:  1 / 2;
    grid-row:  1 / 2 ;
    top: -10%;
    right: 48%;
 
}


.titreformulaire{
    font-size: 2.2rem;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 60px;
    background-color: #f0f0f0;
    margin: 10px 0 ;
    border-radius: 55px;
    display: grid;   /* j'indique que le display sera celui d'une grille */
    grid-template-columns: 15% 85% ;
    padding: 0 .4rem ; /* le padding est la marge intérieur*/
    min-width: 200px;

}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    border-radius: 55px;
    height: 60px;
}

.input-field input ::placeholder {
    columns: #aaa;
    font-weight: 500;
    min-width: 200px;
}




.btnform{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 ;
    transition: 0.5s;
}

.btnform:hover{
    background-color: #416cb7;
}

.signin-signup{
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
}


.imageform{
    width: 100%;
}


.motflottantsolo h1{
    color: white;
    font-size: 35px;
    margin-top: 5px;
}

.butonneded{
    text-align: center;
    width: 100%;
}



.TextFlottant{
    top: 350px;
    left: 900px;
    position: absolute;
    z-index: 100;
    width: 400px;
    height: 400px;
}

.TextFlottant h1{
    font-size: 20px;
    color: black;
    text-align: center;
}

.TextFlottant > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
  }



.form-control{
    width: 50%;
}

.form-label{
color: white;
}

.formlabel2{

    color: white;

}

.btn{
    color: black;
    background-color: crimson;
    text-align: center;
}

.imagelogo{
    display: flex;
   text-align: center;
    margin: 0 auto;
   height: 120px;
   width: 180px;
    margin-top: 30px;
    margin-bottom: 10px;
}







/* Sidebar V2 */


nav{
    position: absolute;
    z-index: 255;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 90px;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    overflow-y:auto;
    
   
}
/* cacher la barre de scroll */
nav::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }


.nbalogo{
   
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
  
}

.nbalogo img{
    width: 65px;
    height: 45px;
}

nav ul{

    padding-left: 0;
}

a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
    text-decoration: none;
}
.sign-in-form a {
    text-decoration: none;
}

.sign-in-form2 a {
    text-decoration: none;
}

a p{
    color: black;
    text-decoration: none;
    transition: 0.5 ease;
    outline: none;
}
a p:hover{
    color: black;
}

nav:hover{
    width: 280px;

}

nav:hover #btnnav{
    transform: translateX(80px);
 

}



.fas{
    position: relative;
    width: 70px;
    height: 70px;
    top: 14px;
    font-size: 20px;
    text-align: center;

}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    margin: 5px;
}

nav ul li a {
    text-decoration: none;
    outline: none;
}

/* footer */

#goldus{
    color: midnightblue;
}
.footeurs{
    bottom: 0;
    padding: 20px 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 10;
    

}



 .social  {
    

    font-size: 20px;
    color: white;
    width: 40px;
    height: 40px;
    transition:  0.3s ease-in-out;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    text-align: center; 
}
 .social :hover{
    opacity: 0.9;
    color: crimson;
}

.footeurs ul{
   
    padding: 0;
    list-style: none;
    font-size: 12px;
    
}

.tailleliste{
display: flex;
flex-direction: row;
}

.coco {
    text-decoration: none;
    color: crimson;
}

#meme{
    color: crimson;
}

#momo{
    color: crimson;
}

.footeurs ul a{
    text-decoration: none;
    opacity: 0.8;
    
}

.footeurs ul li {
    display: inline-block;  
    padding: 0 15px;
}
.containerfooterbasdroite{
    display: flex;
    flex-direction: column;
    margin-left:  auto;
    margin-right: 30px;
}
.droite{
    display: flex;
    font-size: 10px;
    color: white;
 
    
}

.dessous{
   
        display: flex;
        font-size: 10px;
        text-align: right;
        justify-content: end;
        color: white;
    
}

.pupo{
position: relative;
z-index: 10;
}

.container{
    z-index: 10;
    margin-left: 0;
    
}

.messagus{
    text-align: center;
    color: black;
}
.messagused{
    text-align: center;
    color: white;
}
 /* progress bar */
#progress-bar{
 position: absolute;
 top: -8px;
    height: 8px;
    background:crimson;
    width: 50%;
    z-index: 100;
    animation: progress-animation 5s forwards infinite
}




@keyframes progress-animation{
    0%{width: 0%; }
    100% {width: 100% ;}
}

.motflottantsolo{
    top: 80px;
    left: 300px;
    position: absolute;
   
    font-size: 15px;
    z-index: 100;
}

/* carousel */

 .carousel_img{
    display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* Fading animation */

.containere{
  
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
     height: 100%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background-color: black;
  
}
 /*container au dessus de containere dans la page index */
.containeregris{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
     height: 100%;
    width: 100%; 
    z-index: 12;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
}

.lottiehome{
   margin-left: 1250px;
   margin-top: 230px;
   z-index: 5;
}

.containerbeforus{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    left: 0;
}

.containerbeforus ::before{
    z-index: -5;
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    left: 595px;
    top: 46px;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.containered{
  
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
     height: 100%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background-color: black;
   overflow-y: scroll;
}

.containered2{
  
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
     height: 100%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background:  black;
   overflow-y: scroll;
   overflow-x: hidden;
}

.containered ul li {
    color: white;
}

.titrecalend h1{
    color: white;
    left: 200px;
}

.titrecalend{
    margin-left: 100px;
    width: 600px;
}

.listemenud{
    display: flex;
    padding-left: 0;
}
.listemenud li{
    padding: 10px;
    list-style: none;
    color: #a09173!important;
    
}

.listemenud li a{
    padding: 10px;
    list-style: none;
    color: #a09173!important;
    
}
.listemenud li a:hover{
   
    color: white!important;
    
}

.listemenud li:hover{
    background-color: crimson;
    color: white!important;
}



#datepicker{
    z-index: 55;
   
}
.container a{
    color: crimson;
}

.container a:hover{
    color: white;
}

.containere > div{
    position: absolute;
   


}

.slider{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.calendriercont{
    top: 100px;
    left: 100px;
    background-color: white;
    display: grid;
    place-items: center;
    position: relative;
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1),
                inset 10px 10px 10px rgba(0, 0, 0, 1),
                inset -10px -10px 10px rgba(255, 255, 255, 1);
     border-radius: 20px;


}



.selectuded{
    border-radius: 55px;
    height: 60px;
}

/* carte  page offre*/
.cardmorph{
    height: 500px;
    width: 350px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border-top:  1 px solid rgb(125, 125, blue125);
    border-left:  1 px solid rgb(125, 125, blue125);

}



.cardmorph .cardmorph_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

 .colorcardtext {
color: black;
font-weight: 800;
}

.cardmorph .cardmorph_content .cardmorph_picture {

 width: 230px;
 height: 230px;
 margin: 0 auto;
 position: relative;
}

.cardmorph .cardmorph_content .cardmorph_picture2 {
    top: 55px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: absolute;
   }
   
   .cardmorph .cardmorph_content .cardmorph_picture3 {
    top: 30px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
   }


.cardmorph .cardmorph_content .cardmorph_picture img{
    border-radius: 200px;
    width: 100%;
    height: 100%;
   }

   .cardmorph .cardmorph_content .cardmorph_picture2 img{

    width: 100%;
    height: 100%;
   }

   .cardmorph .cardmorph_content .cardmorph_picture3 img{

    width: 100%;
    height: 100%;
   }




/* cartes */
.cardus{
   
    /* ou 0 auto c'est selon */

    display: grid;
    /* en dessous on indique les parametres de sa grille */
    grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
    grid-gap: 40px;
    padding: 20px;
    margin: 20px;
    place-items: center center;
   
}

.cardus2{
  

    display: grid;
    /* en dessous on indique les parametres de sa grille */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    padding: 20px;
    margin: 20px;
      /* ou 0 auto c'est selon */
    place-items: center center;
   
}

.cardass{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);
    text-align: center;
    margin-left: 100px;
}


.card_container{
    position: relative;
    clip-path: polygon(0 0 ,100% 0 , 100% 85%, 0 100%); /* permet de faire une coupure diagonale */
text-align: center;
justify-content: center;
    border-radius: 20px;
}

.card_container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
    border-radius: 20px 20px 0 0;
    opacity: 0.6;
}

.card_container img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.card_container2{
    position: relative;
    clip-path: polygon(0 0 ,100% 0 , 100% 95%, 0 100%); /* permet de faire une coupure diagonale */
text-align: center;
justify-content: center;
color: black;
    border-radius: 20px;
}

.card_container2 p {
    padding-bottom: 15px;
}

.card_container2:before{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        135deg,
        #0100ec,
        #fb36f4
    );
    border-radius: 20px 20px 0 0;
    opacity: 0.4;
}

.card_container2 img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}

.cardus_content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: white;
}

.cardus_content > p:first-of-type{
    margin-top: 0;
}

.cardus_content > p:last-of-type{
    margin-bottom: 0; 
}

.card_info{
    padding:15px ;
    display: flex;
    justify-content: space-between;
    background: white;
    
    font-size: 0.8em;
    border-bottom: 5px solid crimson;
}

.card_info i{
    font-size: 0.9em;
    margin-right: 8px;
}

.cardus_link{
    color: crimson ;
    text-decoration: none;
}

.cardus_link:hover{
    text-decoration: underline;
    color: crimson;
}

/* carte de la page offre */




.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 8vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;  /* display block  met l'élément dans un block et prend toute la largeur */
    height: 100%;  
    border-radius: 40px;
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
     min-height: 300px;
    width: 100%;
    height: auto;
    border-radius: 20px;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius:40px;    
    background-color: #fff ;      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius:40px 0 0 0;    
    background-color: #fff ;
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: #fff ;

  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: black;
    font-weight: bold;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: gold;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: black;
    font-family: "MockFlowFont";   
    display: -webkit-box; /* -webkit-box s'étend pour remplir la boîte englobante, dans la direction indiquée par la disposition de la boîte.  */
    -webkit-box-orient: vertical; /* -webkit-box-orient permet de spécifier le type d'ordonnancement (en colonne ou en ligne) des éléments flexibles dans unbe flexbox */
    -webkit-line-clamp: 3;  /* -webkit-line-clamp permet de limiter l'affichage du contenu d'un bloc à un nombre donné de lignes. */
    overflow: hidden;
  }    

  


/* Bouton night mode */

#toggle {
    margin-left: 3px;
    position: relative;
    display: block;
    width: 80px;
    height: 30px;
    border-radius: 160px;
    background: black;
    transition: 0.5s;
    box-shadow: inset 0 8px 20px rgba(0, 0, 0, 1),
                inset 0 8px 8px rgba(0, 0, 0, 1),
                inset 0 -4px 4px rgba(0, 0, 0, 1),
     ;
     cursor: pointer;
}

#toggle .indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: inset 0 8px 40px rgba(0, 0, 0, 0.5), /* inset modifie l'ombre afin qu'elle soit tournée vers l'intérieur du cadre */
                inset 0 4px 4px rgba(255, 255, 255, 0.2),
                inset 0 -4px 4px rgba(255, 255, 255, 0.2);
                transition: 0.5s;
}

#toggle.active .indicator{
    left: 48px;
}

#toggle.active{
    background-color: #fff;
}

nav.active{
    background: black;
}

#btnnav{
    transition : 0.5s ease-in-out;
}

.slidetext.active{
    color: red;
}

/* SplashScreen */

.intro{
    position: fixed;
    z-index: 1555;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
}

.intrologoheader{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logointro{
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logointro.active{
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;

}

.logointro.fade{
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}

/* langues */
.langagewrapped {
  display: flex;
   flex-direction: row;
   width: 100%;
}

.langagewrapped a{
    display: inline; /* le contenant prend la taille du contenu*/
    width: 100%;
    font-weight: bold;
}

.france{
    margin-left: auto;
    text-align: right;
}

