@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Ubuntu:ital,wght@1,300&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    outline: none;
    border: none;
    text-decoration: none;


  
}


body{
    color: black;
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;

}



.main{

    background-color: black;
}

/* Login and signup form */

body, input{
    font-family: 'Poppins' , sans-serif;
}

.containereform{
  
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
     height: 100%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background-color: black;
  
}



.containerloginform{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;

}

.containerloginform::before{
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    border-radius: 50%;
    background: linear-gradient(-45deg, crimson, crimson);

}

.form-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    margin-top: 5px;
    margin-bottom: 20px;
 
 
    

}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
    overflow: hidden;
    grid-column:  1 / 2;
    grid-row:  1 / 2 ;
    top: -10%;
    right: 48%;
 
}

/*bootstrap style */
.mb-3{
    text-align: center;
    line-height: 1;
    font-weight: 500;
    font-size: 1.1rem;
}
form .sign-in-form{
    z-index: 2;

}

form .sign-up-form{
    z-index: 2;
}

.titreformulaire{
    font-size: 2.2rem;
    color: black;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.input-field{
    max-width: 380px;
    width: 100%;
    height: 75px;
    background-color: #f0f0f0;
    margin: 10px 0 ;
    border-radius: 55px;
    display: grid;   /* j'indique que le display sera celui d'une grille */
    grid-template-columns: 15% 85% ;
    padding: 0 .4rem ; /* le padding est la marge intérieur*/
    min-width: 200px;

}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    border-radius: 55px;
}

.input-field input ::placeholder {
    columns: #aaa;
    font-weight: 500;
    min-width: 200px;
}

.btnform{
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    cursor: pointer;
    background-color: #5995fd;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0 ;
    transition: 0.5s;
}

.btnform:hover{
    background-color: #416cb7;
}

.signin-signup{
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
}


.imageform{
    width: 100%;
}


.motflottantsolo h1{
    color: white;
    font-size: 35px;
    margin-top: 5px;
}

.TextFlottant{
    top: 350px;
    left: 900px;
    position: absolute;
    z-index: 100;
    width: 400px;
    height: 400px;
}

.TextFlottant h1{
    font-size: 20px;
    color: black;
    text-align: center;
}

.TextFlottant > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
  }



.form-control{
    width: 50%;
}

.form-label{
color: white;
}

.btn{
    color: black;
    background-color: crimson;
}

.imagelogo{
    display: flex;
   text-align: center;
    margin: 0 auto;
   height: 120px;
   width: 180px;
    margin-top: 30px;
    margin-bottom: 10px;
}







/* Sidebar V2 */


nav{
    position: absolute;
    z-index: 255;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 90px;
    transition: width 0.2s linear ;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    overflow-y:auto;
    
   
}
/* cacher la barre de scroll */
nav::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }


.nbalogo{
   
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
  
}

.nbalogo img{
    width: 65px;
    height: 45px;
}

nav ul{

    padding-left: 0;
}

a{
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
    text-decoration: none;
}
.sign-in-form a {
    text-decoration: none;
}

a p{
    color: white;
    text-decoration: none;
    transition: 0.5 ease;
    outline: none;
}
a p:hover{
    color: black;
}

nav:hover{
    width: 280px;
    transition: all 0.5s ease;
}

.fas{
    position: relative;
    width: 70px;
    height: 70px;
    top: 14px;
    font-size: 20px;
    text-align: center;

}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

nav ul li {
    list-style: none;
    text-decoration: none;
    margin: 5px;
}

nav ul li a {
    text-decoration: none;
    outline: none;
}

/* footer */

#goldus{
    color: midnightblue;
}
.footeurs{
    bottom: 0;
    padding: 20px 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 10;
    

}



 .social  {
    

    font-size: 20px;
    color: white;
    width: 40px;
    height: 40px;
    transition:  0.3s ease-in-out;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
    text-align: center; 
}
 .social :hover{
    opacity: 0.9;
    color: crimson;
}

.footeurs ul{
   
    padding: 0;
    list-style: none;
    font-size: 12px;
    
}

.tailleliste{
display: flex;
flex-direction: row;
}

.coco {
    text-decoration: none;
    color: crimson;
}

#meme{
    color: crimson;
}

#momo{
    color: crimson;
}

.footeurs ul a{
    text-decoration: none;
    opacity: 0.8;
    
}

.footeurs ul li {
    display: inline-block;  
    padding: 0 15px;
}
.containerfooterbasdroite{
    display: flex;
    flex-direction: column;
    margin-left:  auto;
    margin-right: 30px;
}
.droite{
    display: flex;
    font-size: 10px;
    color: white;
 
    
}

.dessous{
   
        display: flex;
        font-size: 10px;
        text-align: right;
        justify-content: end;
        color: white;
    
}

.pupo{
position: relative;
z-index: 10;
}

.container{
    z-index: 10;
    margin-left: 0!important;
    
}

.messagus{
    text-align: center;
    color: white;
}
 /* progress bar */
#progress-bar{
 position: absolute;
 top: -8px;
    height: 8px;
    background:crimson;
    width: 50%;
    z-index: 100;
    animation: progress-animation 5s forwards infinite
}




@keyframes progress-animation{
    0%{width: 0%; }
    100% {width: 100% ;}
}

.motflottantsolo{
    top: 80px;
    left: 300px;
    position: absolute;
   
    font-size: 15px;
    z-index: 100;
}

/* carousel */

 .carousel_img{
    display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* Fading animation */

.containere{
  
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
     height: 100%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background-color: black;
  
}
 /*container au dessus de containere dans la page index */
.containeregris{
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
     height: 100%;
    width: 100%; 
    z-index: 12;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
}

.lottiehome{
   margin-left: 1250px;
   margin-top: 230px;
   z-index: 5;
}

.containerbeforus{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
    left: 0;
}

.containerbeforus ::before{
    z-index: -5;
    content: '';
    position: absolute;
    width: 2000px;
    height: 2000px;
    left: 595px;
    top: 46px;
    border-radius: 50%;
    background: linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.containered{
  
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
     height: 100%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background-color: black;
   overflow-y: scroll;
}

.containered2{
  
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
     height: 100%;
    width: 100%; 
    z-index: 10;
    transition: ease-in-out;
    flex-direction: column;
   background:  no-repeat center url(./assets/4765949.jpg);
   overflow-y: scroll;
   overflow-x: hidden;
}

.containered ul li {
    color: white;
}

.titrecalend h1{
    color: white;
    left: 200px;
}

.titrecalend{
    margin-left: 100px;
    width: 600px;
}

.listemenud{
    display: flex;
    padding-left: 0;
}
.listemenud li{
    padding: 10px;
    list-style: none;
    color: #a09173!important;
    
}

.listemenud li a{
    padding: 10px;
    list-style: none;
    color: #a09173!important;
    
}
.listemenud li a:hover{
   
    color: white!important;
    
}

.listemenud li:hover{
    background-color: crimson;
    color: white!important;
}



#datepicker{
    z-index: 55;
   
}
.container a{
    color: crimson;
}

.container a:hover{
    color: white;
}

.containere > div{
    position: absolute;
   


}

.slider{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.calendriercont{
    top: 100px;
    left: 100px;
    background-color: white;
    display: grid;
    place-items: center;
    position: relative;
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1),
                inset 10px 10px 10px rgba(0, 0, 0, 1),
                inset -10px -10px 10px rgba(255, 255, 255, 1);
     border-radius: 20px;


}



.selectuded{
    border-radius: 55px;
}

/* carte  page offre*/
.cardmorph{
    height: 500px;
    width: 350px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    border-top:  1 px solid rgb(125, 125, blue125);
    border-left:  1 px solid rgb(125, 125, blue125);

}



.cardmorph .cardmorph_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

 .colorcardtext {
color: black;
font-weight: 800;
}

.cardmorph .cardmorph_content .cardmorph_picture {

 width: 230px;
 height: 230px;
 margin: 0 auto;
 position: relative;
}

.cardmorph .cardmorph_content .cardmorph_picture2 {
    top: 55px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    position: absolute;
   }
   
   .cardmorph .cardmorph_content .cardmorph_picture3 {
    top: 30px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
   }


.cardmorph .cardmorph_content .cardmorph_picture img{
    border-radius: 200px;
    width: 100%;
    height: 100%;
   }

   .cardmorph .cardmorph_content .cardmorph_picture2 img{

    width: 100%;
    height: 100%;
   }

   .cardmorph .cardmorph_content .cardmorph_picture3 img{

    width: 100%;
    height: 100%;
   }




/* cartes */
.cardus{
    margin:  20px;
    margin-left: 150px;
    /* ou 0 auto c'est selon */
    max-width: 1000px;
    display: grid;
    /* en dessous on indique les parametres de sa grille */
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
}

.cardus2{
    margin:  20px;
    /* ou 0 auto c'est selon */
    max-width: 1000px;
    margin-left: 150px;
    display: grid;
    /* en dessous on indique les parametres de sa grille */
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 150px;
}

.cardass{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) ;
}

.cardus_image{
    width: 100%;
    display: block;
}

.cardus_content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: white;
}

.cardus_content > p:first-of-type{
    margin-top: 0;
}

.cardus_content > p:last-of-type{
    margin-bottom: 0; 
}

.card_info{
    padding:15px ;
    display: flex;
    justify-content: space-between;
    background: white;
    
    font-size: 0.8em;
    border-bottom: 5px solid crimson;
}

.card_info i{
    font-size: 0.9em;
    margin-right: 8px;
}

.cardus_link{
    color: crimson ;
    text-decoration: none;
}

.cardus_link:hover{
    text-decoration: underline;
    color: crimson;
}

.butonneded{
    margin: 0 auto;
    
}


/* media queries */
/* écran à partir de 2560px (4k) */
@media screen and (min-width: 2560px)  {

    form .sign-in-form{
        width: 200px;
    }
    
    .titreformulaire{
      font-size: 100px;
      color: black;
      font-weight: bold;
    }

    .containerloginform::before{
        content: '';
        position: absolute;
        width: 4000px;
        height: 4000px;
        border-radius: 50%;
        background: linear-gradient(-45deg, crimson, crimson);
        top: 400px;
      
    
    }


    .lottiehome{
        margin-left: 2250px;
        margin-top: 1300px;
    }
    .containerbeforus{
        overflow: hidden;
    }

    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: 1100px;
        top: 900px;
        overflow: hidden;
    }
    .TextFlottant{
        top: 1300px;
        left: 1300px;
        position: absolute;
        z-index: 100;
        width: 1000px;
        height: 300px;
        font-family:'Segoe UI';
    }
    
    .TextFlottant h1{
        font-size: 50px;
    }

    .motflottantsolo{
        top: 200px;
        left: 550px;
    }
    .motflottantsolo h1{
        font-size: 100px;
    }
}
/* écran entre 1440px et 2559px */
@media screen and (min-width: 1440px)  and (max-width: 2559px) {

    form .sign-in-form{
        width: 200px;
    }
    
    .titreformulaire{
      font-size: 100px;
      color: black;
      font-weight: bold;
    }

    .containerloginform::before{
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        border-radius: 50%;
        background: linear-gradient(-45deg, crimson, crimson);
        top: 150px;
      
    
    }
    .lottiehome{
        margin-left: 1137px;
        margin-top: 214px;
    }
    .containerbeforus{
        overflow: hidden;
    }

    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: 200px;
        top: 200px;
        overflow: hidden;
    }
    .TextFlottant{
        top: 420px;
        left: 570px;
        position: absolute;
        z-index: 100;
        width: 650px;
        height: 300px;
    }
    
    .TextFlottant h1{
        font-size: 30px;
    }

    .motflottantsolo{
        top: 10px;
        left: 100px;
    }

}

/* écran entre 1024px et 1439px */
@media screen and (min-width: 1024px)  and (max-width: 1439px) {
    .lottiehome{
        margin-left: 850px;
        margin-top: 210px;
    }
    .containerbeforus{
        overflow: hidden;
    }

    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: 200px;
        top: 100px;
        overflow: hidden;
    }
    .TextFlottant{
        top: 370px;
        left: 490px;
        position: absolute;
        z-index: 100;
        width: 400px;
        height: 300px;
    }
    
    .TextFlottant h1{
        font-size: 25px;
    }

    .motflottantsolo{
        top: 10px;
        left: 100px;
    }

}
/* écran entre 768px et 1023px */
@media screen and (min-width: 768px)  and (max-width: 1023px) {

    .input-field input {
        margin-left: 20px;
    }

.motflottantsolo{
    top: 10px;
    left: 100px;
}
.TextFlottant{
    top: 280px;
    left: 352px;
    position: absolute;
    z-index: 100;
    width: 200px;
    height: 300px;
}

.TextFlottant h1{
    font-size: 17px;
}
.containere{
    position: relative;
    overflow: hidden;
    left: 0;

}
.containereform{
    position: relative;
    
    left: 0;
}
.containered{
    position: relative;
    left: 0;
    }
    .containered2{
        position: relative;
        left: 0;
    }
    .containeregris{
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
         height: 100%;
        width: 100%; 
        z-index: 12;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
    }


    
    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: 10px;
        top: 20px;
        
    }
    .lottiehome{
        margin-left: 508px;
        margin-top: 159px;
    }
    

    body{
        overflow-y: hidden;
    }



body{
    min-width: 300px;
    overflow-y: visible;
    overflow-x: hidden;
}



}

/* écran entre 425px et 767px */
@media screen and (min-width: 425px)  and (max-width: 767px){

    .titreformulaire{
        font-size: 20px;
    }

    .input-field input {
        margin-left: 20px;
    }

    .containeregris{
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
         height: 100%;
        width: 100%; 
        z-index: 12;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
    }

   

    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: 10px;
        top: 10px;
        
    }

    .lottiehome{
        margin-left: 179px;
        margin-top: 152px;
    }

    .TextFlottant{
        top: 485px;
        left: 213px;
        position: absolute;
        z-index: 100;
        width: 200px;
        height: 300px;
    }

    
    
    .TextFlottant h1{
        font-size: 10px;
    }
    .motflottantsolo {
        top: 7px;
        left: 128px;
        font-size: 15px;
    

}

}
 /* écran entre 375px et 424px */
@media screen and (min-width: 375px)  and (max-width: 424px){

    form{
        width: 200px;
    }

    .titreformulaire{
        font-size: 20px;
    }

    .input-field input {
        margin-left: 20px;
    }

    .containeregris{
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
         height: 100%;
        width: 100%; 
        z-index: 12;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
    }



    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: -60px;
        top: 0;
        
    }

    .lottiehome{
        margin-left: 140px;
        margin-top: 10px;
    }

    .TextFlottant{
        top: 332px;
        left: 200px;
        position: absolute;
        z-index: 100;
        width: 171px;
        height: 246px;
    }

    
    
    .TextFlottant h1{
        font-size: 10px;
    }
    .motflottantsolo {
        top: 150px;
        left: 110px;
        width: 200px;
    

}

.motflottantsolo h1 {
    font-size: 25px;
}

}

@media screen and (min-width: 320px)  and (max-width: 374px){

    .signin-signup{
        left: 55%;
       
    }

    form{
        width: 200px;
    }

    .titreformulaire{
        font-size: 20px;
    }

    .input-field input {
        margin-left: 20px;
    }

    .containeregris{
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
         height: 100%;
        width: 100%; 
        z-index: 12;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8);
    }



    .containerbeforus ::before{
        z-index: -5;
        content: '';
        position: absolute;
        width: 2000px;
        height: 2000px;
        left: -180px;
        
        
    }

    .lottiehome{
        margin-left: 70px;
        margin-top: 10px;
    }

    .TextFlottant{
        top: 332px;
        left: 122px;
        position: absolute;
        z-index: 100;
        width: 171px;
        height: 246px;
    }

    
    
    .TextFlottant h1{
        font-size: 10px;
    }
    .motflottantsolo {
        top: 150px;
        left: 110px;
        width: 200px;
    

}

.motflottantsolo h1 {
    font-size: 25px;
}



}

/* écran à partir de 2560px (4k) */
@media screen and (min-width: 2560px) {
    span{
        font-size: 30px;
    }

   

     .angle{
         margin-top: 0!important;
     }

     .fas{
 
        font-size: 40px;

    
    }
    
     
    .tailleliste span{
        font-size: 30px; 
     }
     .list_name {
         margin-top: -5px;
         font-size: 20px;
     }
     .coco{
         font-size: 20px;
     }

     nav:hover{
         width: 450px;
     }

     nav ul li a {
        width: 400px;
     }

     nav ul li {
         height: 250px;
     }

 
}

